html {
  font-family: 'CenturySchoolbookW01-Ro', serif;
  font-size: 18px;
  color: white;
  letter-spacing: .001em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: white;
}

#menu {
  display: none;
}

#showMenu {
  display: none;
}

/* BORDER */

#top, #bottom, #left, #right, #middle {
	background: white;
	position: fixed;
  z-index: 100;
	}
#left, #right, #middle {
		top: 0; bottom: 0;
		width: 10px;
		}
#left { left: 0; }
#right { right: 0; }
#middle {
    left: calc(50% - 5px)
  }

#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}

#top { top: 0; }
#bottom { bottom: 0; }

/* HALVES */
.left-half {
  position: fixed;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  left: 10px;
  overflow: scroll;
  z-index: 10;
  background-color: #f39bc2;
  overflow-x: hidden;
}

#right-half {
  position: fixed;
  width: calc(50% - 15px);
  height: calc(100% - 20px);
  top: 10px;
  right: 10px;
  overflow: scroll;
}

#left-gradient {
  z-index: 0;
  position: fixed;
  width: calc(50% - 10px);
  height: 100%;
}

#right-gradient {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 50%;
}



a {
  display: block;
  color: white;
  text-decoration: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

a:hover {
  position: static;
  -webkit-transform:translateX(15px);
  -moz-transform:translateX(15px);
  -o-transform:translateX(15px);
  transform:translateX(15px);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

hr.big-2 {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

hr.big-3 {
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  width: calc(100% - 45px);
  margin: 0px 0 0 15px;
}

hr.big-mobile {
  display: none;
}

.body-copy {
  position: absolute;
  z-index: 20;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  height: calc(100% - 28px);
  flex-wrap: wrap;
  justify-content: flex-start;
 align-items: flex-start;
}

.title {
  font-family: 'CentSchbook Mono BT W011455489', serif;
  text-align: center;
  font-size: 5.2vw;
  line-height: 1.05em;
  position: relative;
  align-self: center;
}

.author {
  align-self: flex-end;
  flex-grow: 1;
  margin: 0;
}

.title-medium {
  display: none;
}

hr.big-1 {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
}


.subtitle {
  font-family: 'Blitz', sans-serif;
  font-size: 3.5vw;
  line-height: .85em;
  margin: 12px 0 0 0;
}



.chapter {
  position: relative;
  z-index: 200;
  font-family: 'CentSchbook Mono BT W011455489', serif;
  font-size: 5vw;
  line-height: .9em;
  margin: 8px 0 10px 15px;
}

@media only screen and (min-width: 1500px) {
  .chapter {
    font-size: 4.18em;
  }
}

.small-space {
  height: 5px;
}

.medium-space {
  height: 20px;
}

.number {
  font-family: 'Blitz', sans-serif;
  position: absolute;
  float: right;
  right: 40px;
  font-size: 3.5vw;
  margin-top: 4px;
  padding-right: 8px;
  margin-right: -8px;
}

@media only screen and (min-width: 1500px) {
  .number {
    font-size: 2.9em;
  }
}
